### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [111]:
import pandas as pd
from numpy import NaN

In [112]:
df = pd.read_csv('horse_data.csv', 
                 names=['surgery?', 'Age', '3', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities',
                        '8', '9', '10', 'pain', '12', '13', '14', '15', '16','17','18', '19', '20', '21', '22', 'outcome', '24',
                        '25', '26', '27', '28'], 
                 usecols=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities',
                          'pain', 'outcome'])

In [113]:
df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2
...,...,...,...,...,...,...,...,...
295,1,1,?,120,70,4,2,3
296,2,1,37.20,72,24,3,4,3
297,1,1,37.50,72,30,4,4,2
298,1,1,36.50,100,24,3,3,1
299,1,1,37.2,40,20,?,?,3

In [114]:
df = df.replace('?', 1111)   # заменим пропуски "?" на 1111, чтобы переопределение типов не вызвало ошибку
                             # преварительно убедившись, что ? - это и только это является пропуском
df = df.astype({'surgery?': int,
                'Age': int,
                'rectal temperature': float,
                'pulse': int,
                'respiratory rate': int,
                'temperature of extremities': float,
                'pain': int,
                'outcome': int
               })

df = df.replace(1111, NaN)   # заменим пропуски "1111" на NaN для удобства работы
                            # по непонятной причине после replace(1111, NaN)
                            # все ранее целочисленные столбцы стали float

### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [118]:
categories = ['surgery?', 'Age', 'temperature of extremities', 'pain', 'outcome']
# проверим, все ли категориальные столбцы содержат допустимые значения
for col in categories:
    print(df[col].groupby(df[col]).count())

surgery?
1.0    180
2.0    119
Name: surgery?, dtype: int64
Age
1    276
2     24
Name: Age, dtype: int64
temperature of extremities
1.0     78
2.0     30
3.0    109
4.0     27
Name: temperature of extremities, dtype: int64
pain
1.0    38
2.0    59
3.0    67
4.0    39
5.0    42
Name: pain, dtype: int64
outcome
1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

In [117]:
# выброс в столбце возраст, скорее всего это опечатка, допустимый список значений [1, 2]
# присутствуют значения [1, 9]. Скорее всего вместо 9 должно быть 2. Заменим
df.loc[df['Age']>2, ['Age']]=2
# в остальных категориальных столбцах значения в рамках допустимых значений

In [152]:
# далее проверяем на выбросы количественные столбцы  (межквартильный размах)
linear = ['rectal temperature', 'pulse', 'respiratory rate']
outliers = set()                        # сюда вернем множество индексов выбросов по всем количественным колонкам
for col in linear:
    stats = df[col].describe()
    IQR = stats['75%'] - stats['25%'] 
    LO = stats['25%'] - 1.5 * IQR
    HO = stats['75%'] + 1.5 * IQR
    outliers = (outliers.union(set(df.index[df[col]>HO]))
                        .union(set(df.index[df[col]<LO]))
               )
print(outliers)

{259, 3, 265, 141, 269, 275, 20, 281, 39, 295, 41, 298, 44, 54, 55, 186, 75, 80, 208, 82, 84, 91, 99, 229, 103, 106, 238, 244, 118, 120, 251, 125, 255}

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [252]:
print(df.isnull().sum()) # количество пропусков для каждой колонки
print(df.isnull().sum().sum()) # количество пропусков всего

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64
255

In [253]:
df[df['outcome'].isnull()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [278]:
print(df.loc[df['pulse']<50]['outcome'].mean())
print(df.loc[df['rectal temperature']==38]['outcome'].mean())
print(df.loc[df['respiratory rate']<30]['outcome'].mean())
print(df.loc[df['temperature of extremities']==3]['outcome'].mean())
print(df.loc[df['pain']==4]['outcome'].mean())

1.236842105263158
1.4
1.5185185185185186
1.7685185185185186
2.026315789473684

In [276]:
df.loc[df['pulse']<50]['surgery?'].mean()

1.5263157894736843