### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [14]:
import pandas as pd
from numpy import NaN

In [172]:
df = pd.read_csv('horse_data.csv', 
                 names=['surgery?', 'Age', '3', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities',
                        '8', '9', '10', 'pain', '12', '13', '14', '15', '16','17','18', '19', '20', '21', '22', 'outcome', '24',
                        '25', '26', '27', '28'], 
                 usecols=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities',
                          'pain', 'outcome'])

In [173]:
df = df.replace('?', NaN)   # заменим пропуски "?" на NaN для удобства работы, 
                            # преварительно убедившись, что ? - это и только это является пропуском

### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [177]:
df.info() # проверяем типы данных и количество пропусков в столбцах

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    object
 6   pain                        245 non-null    object
 7   outcome                     299 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 18.9+ KB

In [176]:
df['rectal temperature'] = pd.to_numeric(df['rectal temperature'])   # линейные данные переопределяем в числовые типы
df['pulse'] = pd.to_numeric(df['pulse'])
df['respiratory rate'] = pd.to_numeric(df['respiratory rate'])

In [138]:
?pd.to_numeric

In [126]:
(df.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [181]:
print([df['rectal temperature'].mean(),df.dropna()['rectal temperature'].mean()])
print([df['rectal temperature'].median(), df.dropna()['rectal temperature'].median()])
print([df['rectal temperature'].mode()[0], df.dropna()['rectal temperature'].mode()[0]])
print([df['rectal temperature'].std(), df.dropna()['rectal temperature'].std()])
print([df['rectal temperature'].var(), df.dropna()['rectal temperature'].var()])

[38.16791666666667, 38.163636363636364]
[38.2, 38.2]
[38.0, 38.0]
[0.7322886641121578, 0.7318896825527826]
[0.5362466875871686, 0.5356625074272129]

In [132]:
df.loc[df.isna().sum(axis=1)!=0]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1,1,39.2,88,20,NaN,3,3
4,2,1,37.30,104,35,NaN,NaN,2
5,2,1,NaN,NaN,NaN,2,2,1
7,1,1,NaN,60,NaN,3,NaN,2
8,2,1,NaN,80,36,3,4,3
...,...,...,...,...,...,...,...,...
288,1,1,NaN,NaN,NaN,NaN,NaN,1
289,1,1,38.00,50,36,NaN,3,1
293,1,1,NaN,78,24,3,NaN,3
295,1,1,NaN,120,70,4,2,3
299,1,1,37.2,40,20,NaN,NaN,3

In [98]:
df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2
...,...,...,...,...,...,...,...,...
295,1,1,?,120,70,4,2,3
296,2,1,37.20,72,24,3,4,3
297,1,1,37.50,72,30,4,4,2
298,1,1,36.50,100,24,3,3,1
299,1,1,37.2,40,20,?,?,3

In [15]:
df = df.replace('?', NaN)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    object
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    object
 3   pulse                       276 non-null    object
 4   respiratory rate            242 non-null    object
 5   temperature of extremities  244 non-null    object
 6   pain                        245 non-null    object
 7   outcome                     299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.9+ KB

In [28]:
df.

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.